@charset "utf-8";

#pubAuthors {
    list-style: none !important;
    margin-left: 0 !important;
    line-height: 0.9em !important;
    font-size: 80%;
}

.publicationsTable tbody tr {
    margin-bottom: 1em !important;
}
.publicationsTable tbody tr td {
    margin: 0 0.5em 1em 0.5em;
}